    html {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        color: #18206F;
    }

    .indexbody {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 40px;
        /* background-color: whitesmoke; */
        text-shadow: 1px 1px 1px #d7d8e4;
    }

    .body-image {
        /* padding-top: 50px; */
        width: 300px;
        height: 300px;

        object-fit: cover;
        object-position: center;
    }

    .nav {
        padding-top: 50px;


    }

    header ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 12px;
    }

    header ul li:nth-child(2) {
        margin-left: auto;
    }

    header ul li:not(:first-child) {
        margin-left: 1px;
    }

    header ul li a {
        text-decoration: none;
        color: grey;
    }

    .profile {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 20px;
        align-items: normal;

    }



    /* Projects page css starts here --> */

    .projects {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 12px;
        padding: 16px;
        margin-top: 30px;

    }

    .projecttitle {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .tempimg {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }


    .projectcard {
        padding: 20px;
        /* width: 300px; */
        border-style: solid;
        border-radius: 6px;
        border-color: black;
        border-width: 1px;
        background-color: rgb(227, 227, 227);
    }


    hr {
        margin-top: 50px;
    }